<header class="main-header navbar-fixed">
  <nav class="transparent">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">
          <img src="/assets/images/oru-branding.png" class="responsive-img" width="10%">
        </a>
        <a href="#" data-activates="mobile-nav" class="button-collapse">
          <i class="fa fa-bars"></i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a class="active-link" routerLink="/">Home</a>
          </li>
          <li>
            <a routerLink="/business">Business</a>
          </li>
          <li>
            <a routerLink="/signin">Login</a>
          </li>
          <li>
            <a routerLink="/signup" class="btn purple modal-trigger">+ Register</a>
          </li>
          <li>
            <a href="https://facebook.com">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://instagram.com">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
        <ul class="side-nav" id="mobile-nav">
          <h4 class="purple-text text-darken-4 center">Oru-ghana</h4>
          <li>
            <div class="divider"></div>
          </li>
          <li>
            <a routerLink="/">
              <i class="fa fa-home grey-text text-darken-4"></i> Home</a>
          </li>
          <li>
            <a href="solutions.html">
              <i class="fa fa-cog grey-text text-darken-4"></i> Solutions</a>
          </li>
          <li>
            <a routerLink="/signin">
              <i class="fa fa-users grey-text text-darken-4"></i> Signin</a>
          </li>
          <li>
            <div class="divider"></div>
          </li>
          <li>
            <a routerLink="/signup" class="btn purple">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Showcase -->
  <div class="showcase container section section-search white-text center">
    <div class="row">
      <div class="col s12"><br><br><br><br>
        <h4>Search</h4>
          <h6><em>Business</em>, <em>Places</em>, <em>Organizations</em></h6>
        <div class="row">
          <div class="col s2">
            <div class="input-field">
              <input class="white grey-text autocomplete" placeholder=" Accra, Cafe, Shops etc..." type="text" id="autocomplete-input">
            </div>
          </div>
          <div class="col s4">
            <div class="input-field">
              <input class="white grey-text autocomplete" placeholder=" Accra, Cafe, Shops etc..." type="text" id="autocomplete-input">
            </div>
          </div>

          <div class="col s4" >
            <!-- <a routerLink="" class="btn purple modal-trigger" >Search</a> -->
          </div>
        </div>
   
      </div>
    </div>
  </div>

</header>

